.card-img-top {
    /* width: 100%; */
    width:unset !important;
    height: 15vw;
    /* object-fit: cover; */
}

.forms{
    margin-top: 10%;
    width: 30% !important;
    background-color: rgb(177, 182, 207) !important;
    height: 30em !important;
}

